<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>


    <div id="map"></div>

    <!-- GOOGLE MAPS -->
  <!-- //FIXME: NEED TO PASS API KEY FROM SERVER INSTEAD OF DIRECT IN JS -->
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4-tO33_nmB-q4OdO5jlDAggcvygw7CRU&callback=initMap&libraries=places&v=weekly"
  defer
></script>
  <!-- END GOOGLE MAPS -->
  <script src="/static/app.js"></script>
</body>
</html>